{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block extra_title %}
Welcome!
{% endblock %}

{% block content %}
<!-- Banner image -->
<div class="row">
    <div class="col-12 text-center">
        <a href="{% url 'products' %}" aria-label="Go to products page">
            <img src="../../../media/home-splash-img.png" class="welcome-img"
                alt="Shop the latest tech deals with A to PC">
        </a>
    </div>
</div>
<!-- New Products -->
<div class="row pt-4">
    <h2 class="fw-bold">New In Store</h2>
    {% for product in products.new_products %}
    <div class="col-6 col-lg-3 pb-4">
        <div class="card h-100 text-center border-0">
            <a href="{% url 'product_detail' product.id %}">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top img-fluid">
            </a>
            <p class="card-body product-name mb-0">{{ product.name }}</p>
            <p class="text-start ps-2 fw-bold lead mb-0">£{{ product.price }}</p>
            {% if product.average_rating %}
            <p class="text-start ps-2 fs-6 mb-0">{{ product.average_rating }} / 5 <i
                    class="fa-solid fa-star star-rating text-warning"></i></p>
            {% else %}
            <small class="text-muted text-start ps-2">No Rating</small>
            {% endif %}
            <p class="text-start ps-2 mb-0"><a href="#" class="text-decoration-none text-muted fs-6 category-tag"><i
                        class="fa-solid fa-tags mr-2"></i> {{ product.category.friendly_name }}</a></p>
            {% if request.user.is_superuser %}
            <small>
                <a href="#" class="text-decoration-none">Edit</a>
                |
                <a href="#" class="text-danger text-decoration-none">Delete</a>
            </small>
            {% endif %}
            <div class="card-footer bg-white pt-2 border-0">
                <a href="#" class="btn btn-success w-100">Add to bag</a>
            </div>
        </div>
    </div>
    {% if forloop.counter|divisibleby:2 %}
    <div class="row justify-content-center d-sm-flex d-md-flex d-lg-none">
        <div class="col-8 mb-3">
            <hr>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
<div class="row justify-content-center d-none d-lg-flex">
    <div class="col-8">
        <hr>
    </div>
</div>
<!-- Top Peripherals -->
<div class="row">
    <h2 class="fw-bold">Top Peripherals</h2>
    {% for product in products.top_peripherals %}
    <div class="col-6 col-lg-3 pb-4">
        <div class="card h-100 text-center border-0">
            <a href="{% url 'product_detail' product.id %}">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top img-fluid">
            </a>
            <p class="card-body product-name mb-0">{{ product.name }}</p>
            <p class="text-start ps-2 fw-bold lead mb-0">£{{ product.price }}</p>
            {% if product.average_rating %}
            <p class="text-start ps-2 fs-6 mb-0">{{ product.average_rating }} / 5 <i
                    class="fa-solid fa-star star-rating text-warning"></i></p>
            {% else %}
            <small class="text-muted text-start ps-2">No Rating</small>
            {% endif %}
            <p class="text-start ps-2"><a href="#" class="text-decoration-none text-muted fs-6 category-tag"><i
                        class="fa-solid fa-tags mr-2"></i> {{ product.category.friendly_name }}</a></p>
            {% if request.user.is_superuser %}
            <small>
                <a href="#" class="text-decoration-none">Edit</a>
                |
                <a href="#" class="text-danger text-decoration-none">Delete</a>
            </small>
            {% endif %}
            <div class="card-footer bg-white pt-2 border-0">
                <a href="#" class="btn btn-success w-100">Add to bag</a>
            </div>
        </div>
    </div>
    {% if forloop.counter|divisibleby:2 %}
    <div class="row justify-content-center d-sm-flex d-md-flex d-lg-none">
        <div class="col-8 mb-3">
            <hr>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
<div class="row justify-content-center d-none d-lg-flex">
    <div class="col-8">
        <hr>
    </div>
</div>
<!-- Top Monitors -->
<div class="row">
    <h2 class="fw-bold">Top Monitors</h2>
    {% for product in products.top_monitors %}
    <div class="col-6 col-lg-3 pb-4">
        <div class="card h-100 text-center border-0">
            <a href="{% url 'product_detail' product.id %}">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top img-fluid">
            </a>
            <p class="card-body product-name mb-0">{{ product.name }}</p>
            <p class="text-start ps-2 fw-bold lead mb-0">£{{ product.price }}</p>
            {% if product.average_rating %}
            <p class="text-start ps-2 fs-6 mb-0">{{ product.average_rating }} / 5 <i
                    class="fa-solid fa-star star-rating text-warning"></i></p>
            {% else %}
            <small class="text-muted text-start ps-2">No Rating</small>
            {% endif %}
            <p class="text-start ps-2"><a href="#" class="text-decoration-none text-muted fs-6 category-tag"><i
                        class="fa-solid fa-tags mr-2"></i> {{ product.category.friendly_name }}</a></p>
            {% if request.user.is_superuser %}
            <small>
                <a href="#" class="text-decoration-none">Edit</a>
                |
                <a href="#" class="text-danger text-decoration-none">Delete</a>
            </small>
            {% endif %}
            <div class="card-footer bg-white pt-2 border-0">
                <a href="#" class="btn btn-success w-100">Add to bag</a>
            </div>
        </div>
    </div>
    {% if forloop.counter|divisibleby:2 %}
    <div class="row justify-content-center d-sm-flex d-md-flex d-lg-none">
        <div class="col-8 mb-3">
            <hr>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
<div class="row justify-content-center d-none d-lg-flex">
    <div class="col-8">
        <hr>
    </div>
</div>
<!-- Top Storage -->
<div class="row">
    <h2 class="fw-bold">Top Storage</h2>
    {% for product in products.top_storage %}
    <div class="col-6 col-lg-3 pb-4">
        <div class="card h-100 text-center border-0">
            <a href="{% url 'product_detail' product.id %}">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top img-fluid">
            </a>
            <p class="card-body product-name mb-0">{{ product.name }}</p>
            <p class="text-start ps-2 fw-bold lead mb-0">£{{ product.price }}</p>
            {% if product.average_rating %}
            <p class="text-start ps-2 fs-6 mb-0">{{ product.average_rating }} / 5 <i
                    class="fa-solid fa-star star-rating text-warning"></i></p>
            {% else %}
            <small class="text-muted text-start ps-2">No Rating</small>
            {% endif %}
            <p class="text-start ps-2"><a href="#" class="text-decoration-none text-muted fs-6 category-tag"><i
                        class="fa-solid fa-tags mr-2"></i> {{ product.category.friendly_name }}</a></p>
            {% if request.user.is_superuser %}
            <small>
                <a href="#" class="text-decoration-none">Edit</a>
                |
                <a href="#" class="text-danger text-decoration-none">Delete</a>
            </small>
            {% endif %}
            <div class="card-footer bg-white pt-2 border-0">
                <a href="#" class="btn btn-success w-100">Add to bag</a>
            </div>
        </div>
    </div>
    {% if forloop.counter|divisibleby:2 %}
    <div class="row justify-content-center d-sm-flex d-md-flex d-lg-none">
        <div class="col-8 mb-3">
            <hr>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
<div class="row justify-content-center d-none d-lg-flex">
    <div class="col-8">
        <hr>
    </div>
</div>
<!-- Blog -->
<div class="row">
    <h2 class="fw-bold">Check Our Blog</h2>
</div>

{% endblock %}