{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block extra_title %}
Welcome!
{% endblock %}

{% block content %}
<!-- Banner image -->
<div class="row">
    <div class="col-12 text-center">
        <a href="{% url 'products' %}?category=latest_deals,clearance" aria-label="Go to products page">
            <img src="{{ MEDIA_URL }}home-splash-img.png" class="welcome-img"
                alt="Shop the latest tech deals with A to PC">
        </a>
    </div>
</div>
<!-- New Products -->
<div class="row pt-4">
    <h2 class="fw-bold">New In Store</h2>
    {% for product in products.new_products %}
    <div class="col-6 col-lg-3 pb-4">
        <div class="card h-100 text-center border-0">
            <a href="{% url 'product_detail' product.id %}">
                {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top img-fluid">
                {% else %}
                <img src="{{ MEDIA_URL }}placeholder-img.png" alt="{{ product.name }}" class="card-img-top img-fluid">
                {% endif %}
            </a>
            <p class="card-body product-name mb-0">{{ product.name }}</p>
            <p class="text-start ps-2 fw-bold lead mb-0">£{{ product.price }}</p>
            {% if product.average_rating %}
            <p class="text-start ps-2 fs-6 mb-0">{{ product.average_rating }} / 5 <i
                    class="fa-solid fa-star star-rating text-warning"></i></p>
            {% else %}
            <small class="text-muted text-start ps-2">No Rating</small>
            {% endif %}
            <p class="text-start ps-2 mb-0"><a href="{% url 'products' %}?category={{ product.category.name }}" class="text-muted fs-6 category-tag"><i
                        class="fa-solid fa-tags mr-2"></i> {{ product.category.friendly_name }}</a></p>
            {% if request.user.is_superuser %}
            <small>
                <a href="{% url 'edit_product' product.id %}">Edit</a>
                |
                <a href="{% url 'delete_product' product.id %}" class="text-danger">Delete</a>
            </small>
            {% endif %}
            <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                {% csrf_token %}
                <div class="card-footer bg-white pt-2 border-0">
                    <input type="hidden" name="quantity" type="Number" value="1">
                    <input type="submit" class="btn btn-success w-100" value="Add to Bag">
                </div>
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </form>
        </div>
    </div>
    <!-- Adds hr at different screen sizes -->
    {% if forloop.counter|divisibleby:2 %}
    <div class="row justify-content-center d-sm-flex d-md-flex d-lg-none">
        <div class="col-8 mb-3">
            <hr>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
<div class="row justify-content-center d-none d-lg-flex">
    <div class="col-8">
        <hr>
    </div>
</div>
<!-- Top Peripherals -->
<div class="row">
    <h2 class="fw-bold">Top Peripherals</h2>
    {% for product in products.top_peripherals %}
    <div class="col-6 col-lg-3 pb-4">
        <div class="card h-100 text-center border-0">
            <a href="{% url 'product_detail' product.id %}">
                {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top img-fluid">
                {% else %}
                <img src="{{ MEDIA_URL }}placeholder-img.png" alt="{{ product.name }}" class="card-img-top img-fluid">
                {% endif %}
            </a>
            <p class="card-body product-name mb-0">{{ product.name }}</p>
            <p class="text-start ps-2 fw-bold lead mb-0">£{{ product.price }}</p>
            {% if product.average_rating %}
            <p class="text-start ps-2 fs-6 mb-0">{{ product.average_rating }} / 5 <i
                    class="fa-solid fa-star star-rating text-warning"></i></p>
            {% else %}
            <small class="text-muted text-start ps-2">No Rating</small>
            {% endif %}
            <p class="text-start ps-2"><a href="{% url 'products' %}?category={{ product.category.name }}" class="text-muted fs-6 category-tag"><i
                        class="fa-solid fa-tags mr-2"></i> {{ product.category.friendly_name }}</a></p>
            {% if request.user.is_superuser %}
            <small>
                <a href="{% url 'edit_product' product.id %}">Edit</a>
                |
                <a href="{% url 'delete_product' product.id %}" class="text-danger">Delete</a>
            </small>
            {% endif %}
            <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                {% csrf_token %}
                <div class="card-footer bg-white pt-2 border-0">
                    <input type="hidden" name="quantity" type="Number" value="1">
                    <input type="submit" class="btn btn-success w-100" value="Add to Bag">
                </div>
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </form>
        </div>
    </div>
    {% if forloop.counter|divisibleby:2 %}
    <div class="row justify-content-center d-sm-flex d-md-flex d-lg-none">
        <div class="col-8 mb-3">
            <hr>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
<div class="row justify-content-center d-none d-lg-flex">
    <div class="col-8">
        <hr>
    </div>
</div>
<!-- Top Monitors -->
<div class="row">
    <h2 class="fw-bold">Top Monitors</h2>
    {% for product in products.top_monitors %}
    <div class="col-6 col-lg-3 pb-4">
        <div class="card h-100 text-center border-0">
            <a href="{% url 'product_detail' product.id %}">
                {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top img-fluid">
                {% else %}
                <img src="{{ MEDIA_URL }}placeholder-img.png" alt="{{ product.name }}" class="card-img-top img-fluid">
                {% endif %}
            </a>
            <p class="card-body product-name mb-0">{{ product.name }}</p>
            <p class="text-start ps-2 fw-bold lead mb-0">£{{ product.price }}</p>
            {% if product.average_rating %}
            <p class="text-start ps-2 fs-6 mb-0">{{ product.average_rating }} / 5 <i
                    class="fa-solid fa-star star-rating text-warning"></i></p>
            {% else %}
            <small class="text-muted text-start ps-2">No Rating</small>
            {% endif %}
            <p class="text-start ps-2"><a href="{% url 'products' %}?category={{ product.category.name }}" class=" text-muted fs-6 category-tag"><i
                        class="fa-solid fa-tags mr-2"></i> {{ product.category.friendly_name }}</a></p>
            {% if request.user.is_superuser %}
            <small>
                <a href="{% url 'edit_product' product.id %}">Edit</a>
                |
                <a href="{% url 'delete_product' product.id %}" class="text-danger">Delete</a>
            </small>
            {% endif %}
            <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                {% csrf_token %}
                <div class="card-footer bg-white pt-2 border-0">
                    <input type="hidden" name="quantity" type="Number" value="1">
                    <input type="submit" class="btn btn-success w-100" value="Add to Bag">
                </div>
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </form>
        </div>
    </div>
    {% if forloop.counter|divisibleby:2 %}
    <div class="row justify-content-center d-sm-flex d-md-flex d-lg-none">
        <div class="col-8 mb-3">
            <hr>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
<div class="row justify-content-center d-none d-lg-flex">
    <div class="col-8">
        <hr>
    </div>
</div>
<!-- Top Storage -->
<div class="row">
    <h2 class="fw-bold">Top Storage</h2>
    {% for product in products.top_storage %}
    <div class="col-6 col-lg-3 pb-4">
        <div class="card h-100 text-center border-0">
            <a href="{% url 'product_detail' product.id %}">
                {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top img-fluid">
                {% else %}
                <img src="{{ MEDIA_URL }}placeholder-img.png" alt="{{ product.name }}" class="card-img-top img-fluid">
                {% endif %}
            </a>
            <p class="card-body product-name mb-0">{{ product.name }}</p>
            <p class="text-start ps-2 fw-bold lead mb-0">£{{ product.price }}</p>
            {% if product.average_rating %}
            <p class="text-start ps-2 fs-6 mb-0">{{ product.average_rating }} / 5 <i
                    class="fa-solid fa-star star-rating text-warning"></i></p>
            {% else %}
            <small class="text-muted text-start ps-2">No Rating</small>
            {% endif %}
            <p class="text-start ps-2"><a href="{% url 'products' %}?category={{ product.category.name }}" class=" text-muted fs-6 category-tag"><i
                        class="fa-solid fa-tags mr-2"></i> {{ product.category.friendly_name }}</a></p>
            {% if request.user.is_superuser %}
            <small>
                <a href="{% url 'edit_product' product.id %}">Edit</a>
                |
                <a href="{% url 'delete_product' product.id %}" class="text-danger">Delete</a>
            </small>
            {% endif %}
            <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                {% csrf_token %}
                <div class="card-footer bg-white pt-2 border-0">
                    <input type="hidden" name="quantity" type="Number" value="1">
                    <input type="submit" class="btn btn-success w-100" value="Add to Bag">
                </div>
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </form>
        </div>
    </div>
    {% if forloop.counter|divisibleby:2 %}
    <div class="row justify-content-center d-sm-flex d-md-flex d-lg-none">
        <div class="col-8 mb-3">
            <hr>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
<div class="row justify-content-center d-none d-lg-flex">
    <div class="col-8">
        <hr>
    </div>
</div>
<!-- Blog -->
<div class="row">
    <h2 class="fw-bold">Latest From Our Blog <a href="{% url 'blog' %}" class="btn btn-dark ms-3">Explore More!</a></h2>
    {% for blog in products.latest_posts %}
    <div class="col-6 col-lg-3 pb-4">
        <div class="card h-100 text-center border-0">
            <a href="{% url 'post_detail' blog.slug %}">
                {% if blog.blog_image %}
                <img src="{{ blog.blog_image.url }}" alt="{{ blog.title }}" class="card-img-top img-fluid">
                {% else %}
                <img src="{{ MEDIA_URL }}placeholder-img.png" alt="{{ blog.title }}" class="card-img-top img-fluid">
                {% endif %}
            </a>
            <p class="card-body fw-bold product-name mb-0">{{ blog.title }}</p>
            <p class="text-start text-muted ps-2 lead mb-0">{{ blog.subtitle }}</p>
            {% if request.user.is_superuser %}
            <small>
                <a href="{% url 'edit_post' blog.slug %}">Edit</a>
                |
                <a href="{% url 'delete_post' blog.slug %}" class="text-danger">Delete</a>
            </small>
            {% endif %}
            <div class="card-footer bg-white pt-2 border-0">
                <a href="{% url 'post_detail' blog.slug %}" class="btn btn-success w-100">View Post</a>
            </div>
        </div>
    </div>
    {% if forloop.counter|divisibleby:2 %}
    <div class="row justify-content-center d-sm-flex d-md-flex d-lg-none">
        <div class="col-8 mb-3">
            <hr>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}