{% load static %}
<!-- Offcanvas Navbar -->
<div class="offcanvas offcanvas-start" id="main-nav">
    <div class="offcanvas-header">
        <!-- Logo  -->
        <a href="{% url 'home' %}" class="nav-link">
            <img src="{{ MEDIA_URL }}logo1.png" class="logo-img offcanvas-title"
                id="offcanvasNavbarLabel" alt="A to PC" aria-label="Go to home page">
        </a>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav w-auto mx-auto">
            <li class="nav-item d-block d-md-hidden">
                <a class="fw-bold text-black nav-link me-5" href="{% url 'home' %}" id="home-link">
                    Home
                </a>
            </li>

            <li class="nav-item dropdown">
                <!-- Links to all products sorted by price, rating and category -->
                <a class="fw-bold text-black nav-link me-5" href="#" role="button" id="all-products-link"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    All Products
                </a>
                <ul class="dropdown-menu" aria-labelledby="all-products-link">
                    <li><a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item"
                            aria-label="Go to products sorted by price">By Price</a></li>
                    <li><a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item"
                            aria-label="Go to products sorted by rating">By Rating</a></li>
                    <li><a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item"
                            aria-label="Go to products sorted by category">By Category</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a href="{% url 'products' %}" class="dropdown-item" aria-label="Go to all Products page">All
                            Products</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <!-- Links to all peripherals categorised by keyboards, mice and headphones -->
                <a class="fw-bold text-black nav-link me-5" href="#" role="button" id="peripherals-link"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Peripherals
                </a>
                <ul class="dropdown-menu" aria-labelledby="peripherals-link">
                    <li><a href="{% url 'products' %}?category=keyboards" class="dropdown-item"
                            aria-label="Go to keyboards page">Keyboards</a></li>
                    <li><a href="{% url 'products' %}?category=mice" class="dropdown-item"
                            aria-label="Go to mice page">Mice</a></li>
                    <li><a href="{% url 'products' %}?category=headphones" class="dropdown-item"
                            aria-label="Go to headphones page">Headphones</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a href="{% url 'products' %}?category=keyboards,mice,headphones" class="dropdown-item"
                            aria-label="Go to all peripherals page">All
                            Peripherals</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <!-- Links to all monitors categorised by 1080p, 1440p and 4k -->
                <a class="fw-bold text-black nav-link me-5" href="#" role="button" id="monitors-link"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Monitors
                </a>
                <ul class="dropdown-menu" aria-labelledby="monitors-link">
                    <li><a href="{% url 'products' %}?category=1080p_monitors" class="dropdown-item"
                            aria-label="Go to solid state drives page">1080p</a></li>
                    <li><a href="{% url 'products' %}?category=1440p_monitors" class="dropdown-item"
                            aria-label="Go to 1440p monitors page">1440p</a></li>
                    <li><a href="{% url 'products' %}?category=4k_monitors" class="dropdown-item"
                            aria-label="Go to 4k monitors page">4k</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a href="{% url 'products' %}?category=1080p_monitors,1440p_monitors,4k_monitors"
                            class="dropdown-item" aria-label="Go to all monitors page">All Monitors</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <!-- Links to all storage categorised by hard drives and solid state drives -->
                <a class="fw-bold text-black nav-link me-5" href="#" role="button" id="storage-link"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Storage
                </a>
                <ul class="dropdown-menu" aria-labelledby="storage-link">
                    <li><a href="{% url 'products' %}?category=hard_drives" class="dropdown-item"
                            aria-label="Go to hard drives page">Hard Drives</a></li>
                    <li><a href="{% url 'products' %}?category=solid_state_drives" class="dropdown-item"
                            aria-label="Go to solid state drives page">Solid State
                            Drives</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a href="{% url 'products' %}?category=hard_drives,solid_state_drives" class="dropdown-item"
                            aria-label="Go to all storage page">All
                            Storage</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <!-- Links to all deals categorised by latest deals and clearance -->
                <a class="fw-bold text-danger nav-link" href="#" role="button" id="deals-link" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Deals
                </a>
                <ul class="dropdown-menu" aria-labelledby="deals-link">
                    <li><a href="{% url 'products' %}?category=latest_deals" class="dropdown-item"
                            aria-label="Go to latest deals page">Latest Deals</a></li>
                    <li><a href="{% url 'products' %}?category=clearance" class="dropdown-item"
                            aria-label="Go to products on clearance page">Clearance</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a href="{% url 'products' %}?category=latest_deals,clearance" class="dropdown-item"
                            aria-label="Go to all deals page">All Deals</a></li>
                </ul>
            </li>
        </ul>
        <!-- Search bar form -->
        <form class="d-flex mt-3 nav-item d-md-none" role="search" method="get" action="{% url 'products' %}">
            <div class="input-group border-black nav-item">
                <input class="form-control" type="search" name="q" placeholder="Search for products"
                    aria-label="Search">
                <button class="input-group-text" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </form>
    </div>
</div>