<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <li class="nav-item d-block d-md-hidden">
            <a class="fw-bold nav-link mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="fw-bold nav-link dropdown-toggle mr-5" href="#" role="button" id="all-products-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <ul class="dropdown-menu" aria-labelledby="all-products-link">
                <li><a href="#" class="dropdown-item">By Price</a></li>
                <li><a href="#" class="dropdown-item">By Rating</a></li>
                <li><a href="#" class="dropdown-item">By Category</a></li>
                <li><a href="#" class="dropdown-item">All Products</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="fw-bold nav-link mr-5 dropdown-toggle" href="#" role="button" id="peripherals-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Peripherals
            </a>
            <ul class="dropdown-menu" aria-labelledby="peripherals-link">
                <li><a href="#" class="dropdown-item">Keyboards</a></li>
                <li><a href="#" class="dropdown-item">Mice</a></li>
                <li><a href="#" class="dropdown-item">Headphones</a></li>
                <li><a href="#" class="dropdown-item">All Peripherals</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="fw-bold nav-link dropdown-toggle mr-5" href="#" role="button" id="monitors-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Monitors
            </a>
            <ul class="dropdown-menu" aria-labelledby="monitors-link">
                <li><a href="#" class="dropdown-item">1080p</a></li>
                <li><a href="#" class="dropdown-item">1440p</a></li>
                <li><a href="#" class="dropdown-item">4k</a></li>
                <li><a href="#" class="dropdown-item">All Monitors</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="fw-bold nav-link dropdown-toggle mr-5" href="#" role="button" id="storage-link" 
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Storage
            </a>
            <ul class="dropdown-menu" aria-labelledby="storage-link">
                <li><a href="#" class="dropdown-item">Hard Drives</a></li>
                <li><a href="#" class="dropdown-item">Solid State Drives</a></li>
                <li><a href="#" class="dropdown-item">All Storage</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="fw-bold nav-link dropdown-toggle" href="#" role="button" id="deals-link" 
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Deals
            </a>
            <ul class="dropdown-menu" aria-labelledby="deals-link">
                <li><a href="#" class="dropdown-item">Latest Deals</a></li>
                <li><a href="#" class="dropdown-item">Clearance</a></li>
                <li><a href="#" class="dropdown-item">All Deals</a></li>
            </ul>
        </li>
    </ul>
</div>