{% extends 'base.html' %}
{% load static %}


{% block extra_title %}
Delete Blog Post
{% endblock %}

{% block content %}
<!-- Delete Blog Post form -->
<div class="row">
    <div class="col-12 text-center">
        <h2 class="fw-bold mb-4 text-center">Delete Blog Post</h2>
        <h5 class="text-muted">You are about to delete the blog post.</h5>
        <p class="mt-2 text-black">Are you sure? This <strong class="text-danger text-uppercase">cannot</strong> be
            undone!</p>
        <form action="" method="post">
            {% csrf_token %}
            <div class="text-center">
                <a href="{% url 'blog' %}" class="btn btn-primary">Cancel</a>
                <button class="btn btn-danger" type="submit">Delete</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}