{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block extra_title %}
Edit Comment
{% endblock %}

{% block content %}

<!-- Edit Comment title-->
<div class="row">
    <div class="col-12 text-center pt-3">
        <h2 class="fw-semibold">Editing comment for {{ post_title }}</h2>
    </div>
</div>
<!-- Edit Comment form -->
<div class="row">
    <div class="col-12">
        <form method="post" class="pt-3">
        {% csrf_token %}
        {{ form | crispy | safe }}
        <button type="submit" class="btn btn-success float-end">Submit</button>
        <a href="{% url 'blog' %}" class="btn btn-danger float-end me-2">Cancel</a>
        </form>
    </div>
</div>

{% endblock %}