{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block extra_title %}
Password changed successfully!
{% endblock %}

{% block content %}
<div class="text-center">
    <h1 class="fw-bold">{% trans "Change Password" %}</h1>
    <p>{% trans 'Success! Your password is now changed.' %}</p>
    <a href="{% url 'home' %}" class="btn btn-dark">Back to Home</a>
    <a href="{% url 'account_login' %}" class="btn btn-primary">Go to Sign In</a>
</div>
{% endblock %}
