{% extends "account/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block extra_title %}
Sign Up
{% endblock %}

{% block content %}
<div class="text-center">
  <h1 class="fw-bold">{% trans "Sign Up" %}</h1>

  <p>{% blocktrans %}Welcome to A to PC! Already have an account? Then please <a href="{{ login_url }}">sign
      in</a>.{% endblocktrans %}</p>
</div>
<div class="row justify-content-center">
  <div class="col-md-6">
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form|crispy }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <p class="text-center">
        <button type="submit" class="btn btn-primary">{% trans "Sign Up" %} &raquo;</button>
      </p>
    </form>
  </div>
</div>

{% endblock %}