{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Shop online today for the best deals on the latest PC peripherals, monitors & storage. Fast delivery worldwide!">
    <meta name="keywords"
        content="PC parts, Computer parts, PC peripherals, PC monitors, Keyboards, Computer mouse, PC storage, PC peripheral deals, PC storage deals, Cheap computer monitors">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Potta+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
    </script>
    <!-- Minified jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <!-- Font Awesome Script -->
    <script src="https://kit.fontawesome.com/9918a76ce2.js" crossorigin="anonymous"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>{% block extra_title %}{% endblock %} | A to PC</title>
</head>

<body>
    <header class="container-fluid sticky-top">
        <div class="row pt-1 top-header d-none d-md-flex bg-white">
            <div class="d-flex justify-content-center col-12 px-0">
                <!-- Logo -->
                <div>
                    <a href="{% url 'home' %}" class="nav-link">
                        <img src="{% static '../media/logo-removebg.png' %}" class="logo-img mx-0" alt="A to PC"
                            aria-label="Go to home page">
                    </a>
                </div>
                <!-- Search -->
                <div class="search px-1">
                    <form method="get" action="{% url 'products' %}">
                        <div class="input-group border-black nav-item">
                            <button class="input-group-text" type="submit"><i class="fas fa-search"></i></button>
                            <input class="form-control border" type="search" name="q" placeholder="Search for products">
                        </div>
                    </form>
                </div>
                <!-- Wishlist, Account & Bag -->
                <div class="icons">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href="{% url 'wishlist' %}" class="nav-link"><i class="fa-solid fa-heart fa-lg"></i>
                                <p>Wishlist</p>
                            </a>
                        </li>
                        <li class="list-inline-item dropdown">
                            <a href="#" class="nav-link" id="user-options" data-bs-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-lg"></i>
                                <p>Account</p>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="user-options">
                                {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                <a href="{% url 'admin:index' %}" class="dropdown-item">Admin</a>
                                <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                                {% endif %}
                                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Sign Out</a>
                                {% else %}
                                <a href="{% url 'account_login' %}" class="dropdown-item">Sign In</a>
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                {% endif %}
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <a href="{% url 'view_bag' %}" class="nav-link {% if grand_total %}text-primary{% else %}text-black{% endif %}"><i class="fas fa-shopping-bag fa-lg"></i>
                                <p>
                                    {% if grand_total %}
                                    £{{ grand_total|floatformat:2 }}
                                    {% else %}
                                    Bag
                                    {% endif %}
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Site nav links -->
        <div class="row bg-white">
            <nav class="navbar navbar-expand-md ps-2">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#main-nav"
                    aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/main-nav.html' %}
                {% include 'includes/mobile-header.html' %}
            </nav>
        </div>
        <!-- Info Banner -->
        <div class="row bg-black text-white py-2">
            <div class="text-center fw-bold col-4">
                <i class="fa-solid fa-truck fa-lg"></i>
                <p class="my-0 banner-text">Fast Reliable Service</p>
            </div>
            <div class="text-center fw-bold col-4">
                <i class="fa-solid fa-gift fa-lg"></i>
                <p class="my-0 banner-text">Free Delivery on Orders Over £{{ free_delivery_threshold }}!</p>
            </div>
            <div class="text-center fw-bold col-4">
                <i class="fa-solid fa-desktop fa-lg"></i>
                <p class="my-0 banner-text">Latest Tech Deals at Great Prices!</p>
            </div>
        </div>
    </header>

    <div id="content-wrapper" class="container-fluid pt-2 pb-2">
        {% block content %}
        <!-- Page Content Goes Here -->
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="pt-3 bg-dark text-white">
        <div class="container-fluid" id="footer-container">
            <div class="row">
                <!-- Social Media links -->
                <div class="col-lg-4 col-md-12 text-center">
                    <h1 class="text-uppercase fw-bold fs-3 font-monospace">Stay Connected!</h1>
                    <ul class="list-inline" id="social-icons">
                        <li class="list-inline-item pe-3"><a href="https://www.facebook.com" target="_blank"
                                aria-label="Open Facebook in a new tab" rel="noopener"><i
                                    class="fa-brands fa-facebook fa-xl"></i></a></li>
                        <li class="list-inline-item pe-3"><a href="https://www.twitter.com" target="_blank"
                                aria-label="Open Twitter in a new tab" rel="noopener"><i
                                    class="fa-brands fa-twitter fa-xl"></i></a></li>
                        <li class="list-inline-item pe-3"><a href="https://www.youtube.com" target="_blank"
                                aria-label="Open Youtube in a new tab" rel="noopener"><i
                                    class="fa-brands fa-youtube fa-xl"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.instagram.com" target="_blank"
                                aria-label="Open Instagram in a new tab" rel="noopener"><i
                                    class="fa-brands fa-instagram fa-xl"></i></a></li>
                    </ul>
                </div>
                <!-- Site Information Links -->
                <div class="col-lg-4 col-md-12 text-center" id="site-info-links">
                    <h1 class="text-uppercase fw-bold fs-3 font-monospace">Information</h1>
                    <ul class="ps-0 text-white">
                        {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                        <li><a href="{% url 'admin:index' %}">Admin</a></li>
                        {% endif %}
                        <li><a href="{% url 'profile' %}">My Profile</a></li>
                        {% endif %}
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Brands</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
                <!-- Newsletter Signup -->
                <div class="col-lg-4 col-md-12 text-center">
                    <h1 class="text-uppercase fs-3 fw-bold font-monospace">Sign up to our Newsletter!</h2>
                </div>
            </div>
        </div>
    </footer>

    <!-- Messages (From CI Boutique Ado walkthrough) -->
    {% if messages %}
        {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'includes/toasts/toast-error.html' %}
                {% elif level == 30 %}
                    {% include 'includes/toasts/toast-warning.html' %}
                {% elif level == 25 %}
                    {% include 'includes/toasts/toast-success.html' %}
                {% else %}
                    {% include 'includes/toasts/toast-info.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    {% endif %}

</body>

{% block postloadjs %}
<!-- Messages/Toast js -->
<script type="text/javascript">
    const toastElList = $('.toast');
    for (let toastEl of toastElList) {
        const toast = new bootstrap.Toast(toastEl);
        toast.show();
    }
</script>

{% endblock %}

</html>